.wrapper {
    margin-top: 50px;
    background-color: #232222;
    height: 100px;
    display: flex;
    .avangers{
        margin-left: 5%;
    }
    .text{
        margin-left: 5%;
        margin-top: 18px;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: #FFFFFF;
    }
    .logo{
        margin-left: 46%;
    }
}